.mask-background {
	display: none;
	z-index: 999;
	.full-fixed;
	.backdrop-filter;
	background: rgba(0, 0, 0, 0.6) fixed;

	&.open {
		display: block;
	}
}

.pop-header {
	position: relative;
	.flex-all-center;
	height: 44px;
	text-align: center;
	line-height: 44px;
	width: 100%;
	.b-line;
}

.pop-window {
	.full-fixed;
	display: none;
	z-index: 1000;

	.pop-content {
		min-height: 60vmin;
		max-height: 88vh;
		position: relative;
	}

	.pop-close {
		display: block;
		.icon;
		.icon-close;
	}

	.pop-info {
		padding: 10px;
		color: #fff;
		text-align: center;
	}

	&.open {
		.flex-all-center;
	}

	&.fullscreen,
	&.pic {
		.pop-close {
			.icon-del-x;
			position: absolute;
			left: 50%;
			bottom: 15%;
			transform: translateX(-50%);
		}
	}
	&.fullscreen {
		background: @defaultBackground;
	}

	&.actionSheet {
		background: #fff;
		top: auto;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 75vmin;
		display: flex;
		flex-direction: column;

		.pop-header {
			.pop-close {
				position: absolute;
				top: 10px;
				right: 10px;
				bottom: auto;
			}
		}
		.row {
			.flex-item;
			.col {
				.l-line;
				&:first-child {
					.no-line;
				}
			}

			.list .item {
				.no-line;
			}
		}
	}
}
