table.grid {
	border-collapse: collapse;

	th,
	td {
		padding: 5px;
		line-height: 21px;
		font-size: @l3;
		color: #4d4d4d;
		background: @tableBg;
	}

	tr {
		border-bottom: 1px @borderColor solid;
	}

	tbody {
		tr {
			&:last-child {
				border-bottom: none;
			}
		}
	}
}
