table.grid {
	border-collapse: collapse;

	th,
	td {
		padding: 5px;
		line-height: 21px;
		font-size: @l3;
		color: #4d4d4d;
		background-color: #fff;
	}

	tr {
		border-bottom: 1px rgba(217, 217, 217, 0.5) solid;
	}

	tbody {
		tr {
			&:last-child {
				border-bottom: none;
			}
		}
	}

	.table-status-up {
		background: url('../../image/icon/table/icon-up.svg') center center no-repeat;
	}
	.table-status-down {
		background: url('../../image/icon/table/icon-down.svg') center center no-repeat;
	}
	.table-status-eq {
		background: url('../../image/icon/table/icon-eq.svg') center center no-repeat;
	}
	.table-status-up,
	.table-status-down,
	.table-status-eq {
		display: inline-block;
		width: 16px;
		height: 16px;
		text-indent: -10000px;
		background-size: contain;
	}
}
