.sign-box.pic {
	.flex-all-center;
	flex: 1;
	margin-bottom: 10px;
	position: relative;
	img {
		width: 25vmin;
	}
	.btn-txt {
		position: absolute;
		bottom: 0px;
		right: 0px;
		color: @linkColorActive;
		font-size: @l3;
		background: @defaultBg;
		padding: 5px 10px;
		border-radius: 5px;
	}
}

.page-sign {
	background: @defaultBg;
}
