.badge {
	.flex-wrap-center;
	.filter-blur;
	position: absolute;
	top: 0px;
	right: 0px;
	border-radius: 50%;
	min-width: 20px;
	height: 20px;
	background: rgba(0, 0, 0, 0.2);
	font-size: @l5;
	color: @lightTxtColor;

	&.badge-1 {
		background: rgba(255, 94, 98, 1);
	}
	&.badge-2 {
		background: rgba(255, 176, 1, 1);
	}
	&.badge-3 {
		background: rgba(0, 215, 125, 1);
	}
}
