// ios 第三方内容审核被拒，隐藏文档
.ios {
	a[rel='doc'] {
		display: none;
	}
}

.view-container {
	.full-abs;
	.flex-wrap-v;
	overflow: hidden;
	background: @defaultBg;
}

main,
.page-wrap {
	.flex-wrap-v;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

// 相当于panel，独立完整的内容
article {
}

// 有联系的内容组
section {
}

// 标签规定独立的流内容（图像、图表、照片、代码等等）
figure {
	figcaption {
	}
}

.content {
	position: relative;
	.flex-1;
}

.scroll-content {
	position: absolute;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;

	.scroll {
		position: absolute;
		z-index: 0;
		width: 100%;
	}
}

.scroll-content-x {
	display: block;
	width: 100%;
	overflow: hidden;

	.scroll-x {
		display: table-row;

		.item {
			display: table-cell;
			vertical-align: top;
		}
	}
}

// 文字 保留空白符序列,但是正常地进行换行
.pre-wrap {
	white-space: pre-wrap;
}

// 段落缩进
.text-indent {
	text-indent: 26px;
}
/* 一级标题 */
.txt-h1 {
	font-size: @l1;
	color: @titleColor;
	line-height: 28px;
}

/* 二级标题 */
.txt-h2 {
	font-size: @l2;
	color: @titleColor;
	line-height: 26px;
}

/* 三级标题 */
.txt-h3 {
	font-size: @l3;
	color: @titleColor;
	line-height: 24px;
}

/* 正文描述 */
.txt-desc {
	font-size: @l4;
	color: @txtColor;
	line-height: 24px;
}

/* 正文备注 */
.txt-info {
	font-size: @l5;
	color: @infoColor;
	line-height: 22px;
}

.txt-h1,
.txt-h2,
.txt-h3,
.txt-desc,
.txt-info {
	&.center {
		text-align: center;
	}
	&.right {
		text-align: right;
	}
	&.is-light {
		color: @lightTxtColor;
	}
}

.item-title1,
.item-title2,
.item-title3,
.item-info1,
.item-info2,
.item-info3,
.txt-line1,
.txt-line2,
.txt-line3 {
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}

.item-title1,
.item-title2,
.item-title3 {
	font-size: @l3;
	color: @titleColor;
}

.item-info1,
.item-info2,
.item-info3 {
	font-size: @l4;
	color: @infoColor;
}

.item-title2,
.item-info2,
.txt-line2 {
	-webkit-line-clamp: 2;
}

.item-title3,
.item-info3,
.txt-line3 {
	-webkit-line-clamp: 3;
}

.item-status-fill {
	display: inline-block;
	line-height: 20px;
	width: 50px;
	overflow: hidden;
	border-radius: 10px;
	text-align: center;
	color: #fff;
	font-size: @l4;

	&.status-primary {
		background: @btnBgPrimary;
	}
	&.status-success {
		background: @btnBgSuccess;
	}
	&.status-danger {
		background: @btnBgDanger;
	}
	&.status-warning {
		background: @btnBgWarning;
	}
}

.item-status {
	line-height: 20px;
	font-weight: bold;
	padding: 0;
	font-size: @l4;

	&.status-primary {
		color: @btnBgPrimary;
	}
	&.status-success {
		color: @btnBgSuccess;
	}
	&.status-danger {
		color: @btnBgDanger;
	}
	&.status-warning {
		color: @btnBgWarning;
	}
	&.status-disabled {
		color: @btnBgDisabled;
	}
}

// 提示性文字样式
.alert-box {
	.item-title1;
	padding: 10px 10px;
	background: @btnBg;
	color: @btnTxtColor;
	.button {
		background: none;
		border-radius: 15px;
		height: 30px;
		line-height: 30px;
		padding: 0 8px;
		margin-left: 8px;
		white-space: nowrap;
	}
}
// img 100%宽容器
.item-pic {
	overflow: hidden;
	img {
		display: block;
		width: 100%;
	}
}
// 文章类详细页面
.detail-content {
	.txt-desc;
	.padding-vh;
	background: @paneBg;

	.item-pic {
		.box-shadow;
		margin: 10px 0;
	}
	.item-time {
		font-size: @l3;
		color: @infoColor;
	}
}

.iframe-pages {
	.full-size;
	background: @defaultBg;
}
