.toolbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	transform: translateZ(0);
	width: 100%;
	padding: 6px;
	min-height: 44px;
}

header {
	width: 100%;
	.b-line;
	background: #fff;
	&.login-header {
		border: none;
	}
	&.float-header {
		.icon-back {background-image: url('../../image/icon/icon_back.svg');}
		background: rgba(255, 255, 255, 0.2);
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 10;
		border: none;
		.bar-button {
			color: #444;
			&.filterBlur{
				background: rgba(255, 255, 255, 0.4);
				padding: 0 10px;
				border-radius: 5px;
			}
		}
	}
	.header-title {
		display: -webkit-flex;
		display: flex;
		-webkit-flex: 1;
		flex: 1;
		order: 4;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 44px;
		-webkit-align-items: center;
		align-items: center;
		padding: 0 80px;
		text-align: center;
		font-size: 17px;
		font-weight: 500;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		color: @titleColor;
	}
	.search-title {
		padding: 0 50px;
		input[type=search] {width:100%; color:#fff;}
		&:before {content: ' '; display: block; height:16px; width: 16px; background: url("../../image/icon/icon-search.svg") no-repeat; background-size: 100%; margin-right: 10px;}
		&:after{content: ' '; display: block; height:1px; border-bottom:1px solid #fff; position: absolute; bottom: 6px; left:50px; right: 50px;}
	}
	.title {
		display: block;
		overflow: hidden;
		width: 100%;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.bar-button {
		.flex-wrap;
		.align-center;
		.justify-center;
		position: relative;
		z-index: 1;
		display: block;
		min-width: 36px;
		height: 32px;
		line-height: 32px;
		font-size: 15px;
		border: none;
		box-shadow: none;
		background: none;
		color: @headerButtonTxt;
		//text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	}
	.back-button {
		.flex-wrap;
		.align-center;
		.justify-center;
	}
	.icon-back {
		margin: 0 10px 0 0;
		width: 32px;
		height: 32px;
		background-position: left center;
	}
	.icon-button {
		width: 60px;
	}
	a.icon-button {
		padding:4px;
	}
	.txt-button {
		order: 4;
		font-weight: normal;
		color: @headerButtonTxt;
		font-size:15px;
		width: auto;
		text-shadow: none;
	}
	.active {
	}
	.cached {
		display: none;
	}
	&.drak {
		background: #5867C4;
		border-bottom: none;
		.icon-back {background-image: url('../../image/icon/icon-back-drak.svg');}
		.title, .info-center {color:#fff;}
		.txt-button {
			color:white;
			padding: 0 10px;
		}
	}
}







