.icon {
	display: block;
	margin: 0 auto;
	width: 25px;
	height: 25px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
}

.icon-home {
	background-image: url('../../images/navTab/home.svg');
}

.active .icon-home {
	background-image: url('../../images/navTab/home-active.svg');
}

.icon-message {
	background-image: url('../../images/navTab/message.svg');
}

.active .icon-message {
	background-image: url('../../images/navTab/message-active.svg');
}

.icon-my {
	background-image: url('../../images/navTab/my.svg');
}

.active .icon-my {
	background-image: url('../../images/navTab/my-active.svg');
}

.icon-favorite {
	background-image: url('../../images/navTab/favorite.svg');
}

.active .icon-favorite {
	background-image: url('../../images/navTab/favorite-active.svg');
}

.icon-phone {
	background-image: url('../../images/navTab/phone.svg');
}
.icon-edit {
	background-image: url('../../images/navTab/edit.svg');
}

.icon-phone-item {
	background-image: url("../../images/icon/icon-phone.svg");
	background-size: 80% 80%;
}

.icon-sex-1 {
	background-image: url('../../images/icon/sex-1.svg');
}

.icon-sex-2 {
	background-image: url('../../images/icon/sex-2.svg');
}

// Header
.icon-back {
	background-image: url('../../images/icon/icon_back.svg');
	background-size: 70% 70%;
}

.icon-select-down {
	background-image: url('../../images/icon/icon-select-down.svg');
}

.img-icon {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	overflow: hidden;

	img {
		display: block;
		width: 100%;
		height: 100%;
		border: none;
	}
}


.icon-list-r {
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+PHBhdGggZD0iTTEzLjY5LDIzLjVsLS43LS43MUwxOS42MSwxNiwxMyw5LjIxbC43LS43MUwyMSwxNloiIHN0eWxlPSJmaWxsOmdyYXk7ZmlsbC1ydWxlOmV2ZW5vZGQiLz48L3N2Zz4=');
}

.icon-list-d, .icon-list-u {
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+PHBhdGggZD0iTTguNSwxMi42OWwuNzEtLjdMMTYsMTguNjEsMjIuNzksMTJsLjcxLjdMMTYsMjBaIiBzdHlsZT0iZmlsbDpncmF5O2ZpbGwtcnVsZTpldmVub2RkIi8+PC9zdmc+');
}

.icon-list-u {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

// List icon
.icon-close {
	background-image: url('../../images/icon/icon-del-x.svg');
}

// star
.icon-star {
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+PHRpdGxlPmljb24tc3RhcjwvdGl0bGU+PHBhdGggZD0iTTE2LDZsLS40MSwxLTIuMzcsNi4xNy02LjYyLjM3LTEuMTMuMDUuODguNzEsNS4xMyw0LjE4LTEuNyw2LjM5TDkuNTEsMjZsLjk0LS42MUwxNiwyMS43OWw1LjU1LDMuNTkuOTQuNjEtLjI5LTEuMDktMS43LTYuMzksNS4xMy00LjE4Ljg4LS43MS0xLjEzLS4wNS02LjYyLS4zN0wxNi40MSw3Wm0wLDIuNDIsMi4wNyw1LjM4LjExLjI2aC4yOWw1Ljc2LjMxTDE5Ljc0LDE4bC0uMjIuMTguMDcuMjdMMjEuMDYsMjRsLTQuODMtMy4xMkwxNiwyMC43NmwtLjIzLjE1TDEwLjk0LDI0bDEuNDctNS41NS4wNy0uMjdMMTIuMjYsMTgsNy43OCwxNC4zOWw1Ljc2LS4zMWguMjlsLjExLS4yNloiIHN0eWxlPSJmaWxsOiM2NjYiLz48L3N2Zz4=');
}

.active .icon-star {
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+PHBhdGggZD0iTTE2LDZsLS40MSwxLTIuMzcsNi4xNy02LjYyLjM3LTEuMTMuMDUuODguNzEsNS4xMyw0LjE4LTEuNyw2LjM5TDkuNTEsMjZsLjk0LS42MUwxNiwyMS43OWw1LjU1LDMuNTkuOTQuNjFMMjIuMiwyNC45bC0xLjctNi4zOSw1LjEzLTQuMTguODgtLjcxLTEuMTMtLjA1LTYuNjItLjM3TDE2LjQxLDdaIiBzdHlsZT0iZmlsbDojZTg0YzNkIi8+PC9zdmc+');
}

.icon-del {
	background-image: url("../../images/icon/icon-del.svg");
	background-size: 60%;
}

.icon-search {
	background-image: url("../../images/icon/icon-search.svg");
	background-size: 60%;
}

.icon-i {
	background-image: url("../../images/icon/icon-i.svg");
	background-size: 100%;
}

.icon-user {
	background-image: url("../../images/icon/icon-user.svg");
	background-size: 100%;
}

