/* 
 DWZ Mobile 使用SVG骨架屏
 https://css-tricks.com/building-skeleton-screens-css-custom-properties/
 https://zhuanlan.zhihu.com/p/74403911
*/
.dwz-skeleton {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	img {
		width: 100%;
	}
}
