<main>
	<header>
		<div class="toolbar">
			<a class="bar-button back-button"><i class="dwz-icon-arrow-left"></i></a>
			<div class="header-title">layout 布局</div>
			<a class="bar-button" data-href="tpl/iframe_page.html?dwz_callback=biz.iframeRender&page_title=layout文档&page_url=https://dwzteam.github.io/dwz_mobile_doc_v1/#/doc/h5/widget/layout" target="navView" rel="doc"><i class="dwz-icon-document"></i>文档</a>
		</div>
	</header>

	<section>

		<div class="scroll-content dwz-scroll">
			<div class="scroll">
				<p class="blockquote padding-vh">适配横竖屏布局</p>
				<div class="pane box-round margin-h">
					<div class="layout-row">
						<div class="col-3 padding-vh flex-wrap-center" style="border: 1px red dashed;">1</div>
						<div class="col-3 padding-vh flex-wrap-center" style="border: 1px red dashed;">2</div>
						<div class="col-3 padding-vh flex-wrap-center" style="border: 1px red dashed;">3</div>
						<div class="col-3 padding-vh flex-wrap-center" style="border: 1px red dashed;">4</div>
					</div>
					<div class="layout-row">
						<div class="col-6 padding-vh flex-wrap-center" style="border: 1px red dashed;">5</div>
						<div class="col-6 padding-vh flex-wrap-center" style="border: 1px red dashed;">6</div>
					</div>
				</div>

				<p class="blockquote padding-vh">grid-col-2</p>
				<div class="pane box-round margin-h">
					<div class="grid-col-2">
						<div class="item dwz-ctl-hover">1</div>
						<div class="item dwz-ctl-hover">2</div>
						<div class="item dwz-ctl-hover">3</div>
						<div class="item dwz-ctl-hover">4</div>
						<div class="item dwz-ctl-hover">5</div>
						<div class="item dwz-ctl-hover">6</div>
					</div>
				</div>

				<p class="blockquote padding-vh">grid-col-3</p>
				<div class="pane box-round margin-h">
					<div class="grid-col-3">
						<div class="item dwz-ctl-hover">1</div>
						<div class="item dwz-ctl-hover">2</div>
						<div class="item dwz-ctl-hover">3</div>
						<div class="item dwz-ctl-hover">4</div>
						<div class="item dwz-ctl-hover">5</div>
						<div class="item dwz-ctl-hover">6</div>
					</div>
				</div>

				<p class="blockquote padding-vh">grid-col-4</p>
				<div class="pane box-round margin-h">
					<div class="grid-col-4">
						<div class="item dwz-ctl-hover">1</div>
						<div class="item dwz-ctl-hover">2</div>
						<div class="item dwz-ctl-hover">3</div>
						<div class="item dwz-ctl-hover">4</div>
						<div class="item dwz-ctl-hover">5</div>
						<div class="item dwz-ctl-hover">6</div>
						<div class="item dwz-ctl-hover">7</div>
						<div class="item dwz-ctl-hover">8</div>
					</div>
				</div>

				<p class="blockquote padding-vh">grid-col-5</p>
				<div class="pane box-round margin-h">
					<div class="grid-col-5">
						<div class="item dwz-ctl-hover">1</div>
						<div class="item dwz-ctl-hover">2</div>
						<div class="item dwz-ctl-hover">3</div>
						<div class="item dwz-ctl-hover">4</div>
						<div class="item dwz-ctl-hover">5</div>
						<div class="item dwz-ctl-hover">6</div>
						<div class="item dwz-ctl-hover">7</div>
						<div class="item dwz-ctl-hover">8</div>
						<div class="item dwz-ctl-hover">9</div>
						<div class="item dwz-ctl-hover">10</div>
					</div>
				</div>

			</div>
		</div>

	</section>
</main>